//color
$color-primary-1: #343f56;
$color-primary-2: #f54748;
$color-primary-3: #fb9300;
$color-primary-4: #f5e6ca;
$color-primary-1-light: #525459;
$color-primary-2-light: #eb9696;
$color-primary-3-light: #f3b55e;
$color-primary-4-light: #f5f0e7;
