.container {
  display: grid;
  grid-template-rows: 80vh min-content 80vh repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr[center-end] 1fr [full-end];

  @include respond(laptop-l) {
    grid-template-rows: 80vh min-content 50vh repeat(3, min-content);
  }

  @include respond(tablet) {
    grid-template-rows: 5.5rem 80vh min-content 50vh repeat(3, min-content);
    grid-template-columns: [full-start] 8rem [center-start] 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr[center-end] 1fr [full-end];
  }

  @include respond(tablet-m) {
    grid-template-rows: 5.5rem 60vh min-content min-content 50vh repeat(
        3,
        min-content
      );
  }
}
