*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(laptop-l) {
    font-size: 50%;
  }

  @include respond(tablet-m) {
    font-size: 35%;
  }
  @include respond(mobile) {
    font-size: 30%;
  }

  @include respond(big-desktop) {
    font-size: 105%;
  }
}

body {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: black;
}
